@viewport {
    width: device-width;
    zoom: 1.0;
}

/*General page style*/
body {
    background-color: #deebf7;
    text-align: center;
    font-family: Comfortaa;
}

form {
    padding:50px;
}

hr {
    border-color: black;
}

h1 {
    padding: 20px;
}

/*DROPDOWN MENU*/
select {
    padding: 15px 0 15px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #34495e;
    font-size: 20px;
    background: white/*#ecf0f1*/;
    font-family: Comfortaa;
}

/*TEXT BOX from https://codepen.io/benedicksahagun/pen/WwaKEL*/

    /*Sets size of text box*/
    .wrap {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .row{
        margin: 30px 0; /* need some nice spacing here */
        position: relative; /* this one is important */
    }
    
    /*make label absolute and position it on input area*/
    label{
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        top: 15px;
        left: 0;
        -webkit-transition: .1s;
        -o-transition: .1s;
        transition: .1s;
    }
    
    input {
        padding: 15px 0 15px;
        width: 100%;
        border: none;
        border-bottom: 3px solid #34495e;
        font-size: 20px;
        background: white;
    }
    
    /*Text box animation*/
    input:focus{
        outline: none;
        border-color: #2980b9;
    }
    
    input:valid ~ label, /*detects if input has valid input*/
    input:focus ~ label{ 
        top: -20px;
        font-weight: bold;
        font-size: 1.1em;
    }


/*Class to style multiple elements onto one line*/
/*Looks delightful except it's too wide... Need to resize some text boxes*/
.oneline {
    list-style: none;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.oneline > input {
    width: 100px;
    max-width: 100%;
}

.oneline > select {
    width: 200px;
    max-width: 100%;
}

input[type="checkbox"] {
    width: 20px;
    transform: scale(1.5);
}


  /*BUTTONS*/

  button {
    font-family: Comfortaa;
    color: black;
    margin: auto;
    margin-top: 20px;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    border: 0.2rem solid transparent;
    width: 200px;
    max-width: 100%;
    display: block;
    transition: all 0.3s;
  }

.green_button{
    border-color: #00b050;
    background-color: #B9DFA0;
}

.yellow_button{
    border-color: #FFC000;
    background-color: #F2DFA7;
}

.white_button{
    border-color: darkgray;
    background-color: white;
}

#back_button{
    position: fixed; /*Fix back button to top-left*/
    left: 15;
    top: 5;
    width: 150px;
    color: red;
}


@media screen and (max-width: 628px) {
    /* Code/resizing specifically for mobile devices goes here */
    .header > h1 {
        margin-left: 170px;
        width: 50vw;
        text-align: right;
        word-wrap: break-word;
    }



    .oneline {
        list-style: none;
        width: 100%;
        padding: 10px;
        white-space: normal;
        overflow-x: auto;
        overflow-y: auto;
    }
    
    .oneline > input {
        width: 100px;
        max-width: 100%;
    }
    
    .oneline > select {
        width: 200px;
        max-width: 100%;
    }

    input[type="checkbox"] {
        width: 10px;
        transform: scale(1.5);
    }

}