.btn-group button {
    background-color: #e7e6e6;
    border: 1px solid black;
    color: black; 
    font-weight: bolder;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin: 20px;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  .largerFont{font-size: larger;}