
 /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns */

  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.errorBox {
  background-color: #F07a7a;
  padding: 15px;
  width: 600px;
  margin-left: 60px;
  
}

#back_button2 {
  color:black;
  display: inline-block;
}

.mybtn-group button {
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin: 30px;
}

.mybtn-group h1 {
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin: 40px;
  margin-left: 60px;
  margin-top: 100px;
}

/* Clear floats (clearfix hack) */
.mybtn-group:after {
  content: "";
  clear: both;
  display: table;
}

.mybtn-group button:last-child {
	margin-left: 260px;
}

.scrollable{
  overflow: auto;
  height: 150px;
  width: 700px;
  border: 1px solid black;
  margin-left: 40px;
}

.graph {
  margin: 30px;
}